/* ----- Media breakpoints ----- */

$breakpointMobile: 480px;
$breakpointTablet: 768px;
$breakpointDesktop: 1200px;

/* ----- text ----- */
$mainFont: "Roboto", sans-serif;
$secFont: "Raleway", "Oleo Script", sans-serif;

/*   Spaces   */

$padding-between: 94px;

$padding-between-mobile: 60px;

$padding-left-right: 200px;

/*   Other atributes   */

$cursor-pointer: pointer;

%transition {
  transition-property: fill, color, background-color, border-color, transform,
    box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

$breakpoints: (
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1200px,
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: calc($width - 0.02px);
    }
    @media screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

